@media screen and (max-width: 1220px)
{
    /* Navigation */
    #navbar
    {
        flex-direction: column;
    }

    #navbar ul li a
    {
        font-size: 1rem;
        padding: 0px 7px;
        padding-bottom: 8px;
    }

    /* Home Section */
    #home
    {
        height: 320px;
        /* flex-direction: column; */
        padding: 3px 28px;
    }

    #home::before
    {
        height: 480px;
    }

    #home p
    {
        font-size: 1rem;
    }
    
    /* Services Section */
    #services
    {
        flex-direction: column;
    }

    #services .box
    {
        padding: 14px;
        margin: 2px 0px;
        margin-bottom: 20px;
    }

    /* Clients Section */
    #clients
    {
        /* overflow: hidden; */
        flex-wrap: wrap;
    }

    #clients img
    {
        width: 66px;
        padding: 6px;
        height: auto;
    }

    /* Contact Us section */
    #contact-box form
    {
        width: 80%;
    }

    /* Utility Classes */
    .h-primary
    {
        font-size: 2rem;
    }

    .btn
    {
        font-size: 1rem;
        padding: 4px 8px;
    }
}

@media screen and (max-width: 360px)
{
    #services .box img
    {
        height: 100px;
        margin: auto;
        display: block;
    }

    #navbar ul li a
    {
        font-size: 0.8rem;
        padding: 0px 3px;
        padding-bottom: 4px;
    }
   
}